export(addBreakColorLegend)
export(covB)
export(createPredGridCountSamp)
export(distBetween2xySets)
export(plot.spCountSamp)
export(pointSimClus)
export(pointSimSyst)
export(SimSummary)
export(spCountSamp)
export(stdizeBoundary)
export(stdizePlots)
export(removeDupPlots)
export(trimPlots2Boundary)
S3method(image,spCountSamp)
S3method(summary,spCountSamp)
